http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1016/j.physletb.2010.10.049
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 rOpenSci(crul/%s)0.9.0 rOpenSci(rcrossref/0.9.2.9610)
        (mailto:myrmecocystus@gmail.com)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2019,11,23]],"date-time":"2019-11-23T01:31:33Z","timestamp":1574472693047},"reference-count":29,"publisher":"Elsevier
        BV","issue":"1-4","license":[{"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/","start":{"date-parts":[[2011,1,1]],"date-time":"2011-01-01T00:00:00Z","timestamp":1293840000000},"delay-in-days":0,"content-version":"tdm"},{"URL":"http:\/\/creativecommons.org\/licenses\/by\/4.0\/","start":{"date-parts":[[2016,9,28]],"date-time":"2016-09-28T00:00:00Z","timestamp":1475020800000},"delay-in-days":2097,"content-version":"vor"}],"funder":[{"DOI":"10.13039\/501100000921","name":"European
        Cooperation in Science and Technology (COST)","doi-asserted-by":"crossref","award":["MP0905"]},{"DOI":"10.13039\/501100000271","name":"Science
        and Technology Facilities Council","doi-asserted-by":"crossref","award":["ST\/1506029\/1"]}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Physics
        Letters B"],"published-print":{"date-parts":[[2011,1]]},"DOI":"10.1016\/j.physletb.2010.10.049","type":"journal-article","created":{"date-parts":[[2010,10,28]],"date-time":"2010-10-28T08:28:17Z","timestamp":1288254497000},"page":"298-302","source":"Crossref","is-referenced-by-count":20,"title":["On
        the unitarity of linearized General Relativity coupled to matter"],"prefix":"10.1016","volume":"695","author":[{"given":"Michael","family":"Atkins","sequence":"first","affiliation":[]},{"given":"Xavier","family":"Calmet","sequence":"additional","affiliation":[]}],"member":"78","container-title":["Physics
        Letters B"],"original-title":[],"language":"en","link":[{"URL":"https:\/\/api.elsevier.com\/content\/article\/PII:S0370269310012608?httpAccept=text\/xml","content-type":"text\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.elsevier.com\/content\/article\/PII:S0370269310012608?httpAccept=text\/plain","content-type":"text\/plain","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2018,12,7]],"date-time":"2018-12-07T05:53:19Z","timestamp":1544161999000},"score":1.0,"subtitle":[],"short-title":[],"issued":{"date-parts":[[2011,1]]},"references-count":29,"journal-issue":{"published-print":{"date-parts":[[2011,1]]},"issue":"1-4"},"alternative-id":["S0370269310012608"],"URL":"http:\/\/dx.doi.org\/10.1016\/j.physletb.2010.10.049","relation":{},"ISSN":["0370-2693"],"issn-type":[{"value":"0370-2693","type":"print"}]}}'
  recorded_at: 2020-03-13 15:50:48 GMT
  recorded_with: vcr/0.5.0, webmockr/0.6.0
- request:
    method: get
    uri: https://api.crossref.org/works/10.1016/j.scib.2017.04.011
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 rOpenSci(crul/%s)0.9.0 rOpenSci(rcrossref/0.9.2.9610)
        (mailto:myrmecocystus@gmail.com)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
     [...]
