http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.3897/phytokeys.136.47386
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 rOpenSci(crul/%s)0.9.0 rOpenSci(rcrossref/1.0.0.93)
        (mailto:myrmecocystus@gmail.com)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2020,3,28]],"date-time":"2020-03-28T13:07:14Z","timestamp":1585400834302},"reference-count":57,"publisher":"Pensoft
        Publishers","license":[{"URL":"http:\/\/creativecommons.org\/licenses\/by\/4.0\/","start":{"date-parts":[[2019,12,23]],"date-time":"2019-12-23T00:00:00Z","timestamp":1577059200000},"delay-in-days":0,"content-version":"vor"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["PK"],"abstract":"<jats:p>An
        overview of the diatom research in the DR Congo is given based on literature
        data starting in 1938 with the work of Zanon and excluding the East African
        Lakes as these were already discussed in previous papers. For each literature
        record the diatom genera mentioned are presented as well as all diatom taxa
        described from the Congo as new. In total, 106 new taxa were documented, of
        which <jats:italic>Nitzschia<\/jats:italic> with 40 taxa is far the most important
        genus followed by <jats:italic>Navicula<\/jats:italic> s.l. and <jats:italic>Pinnularia<\/jats:italic>
        and with 15 and 13 taxa respectively. Particular attention was paid to the
        local research of students found in unpublished theses at bachelor, licentiate,
        master and PhD level. Diatom records in these works are almost all restricted
        to genus level, although in the last decade an attempt to delimit species
        can be observed. This accompanies the renewed taxonomic interest in the Congo
        basin during the last decade. Renewed taxonomic interest can also be seen
        in the genera: the first period being situated during the lumping period,
        while more recent works follow the current taxonomic classification, for example
        <jats:italic>Navicula<\/jats:italic> s.l. versus <jats:italic>Navicula<\/jats:italic>,
        <jats:italic>Cavinula<\/jats:italic>, <jats:italic>Craticula<\/jats:italic>,
        <jats:italic>Diadesmis<\/jats:italic>, <jats:italic>Geissleria<\/jats:italic>,
        <jats:italic>Humidophila<\/jats:italic>, <jats:italic>Luticola<\/jats:italic>,
        <jats:italic>etc<\/jats:italic>.<\/jats:p>","DOI":"10.3897\/phytokeys.136.47386","type":"journal-article","created":{"date-parts":[[2019,12,23]],"date-time":"2019-12-23T10:58:42Z","timestamp":1577098722000},"page":"107-125","source":"Crossref","is-referenced-by-count":0,"title":["Freshwater
        diatoms in the Democratic Republic of the Congo: a historical overview of
        the research and publications"],"prefix":"10.3897","volume":"136","author":[{"given":"Christine","family":"Cocquyt","sequence":"first","affiliation":[]},{"given":"Edit","family":"Lokele
        Ndjombo","sequence":"additional","affiliation":[]},{"given":"Simon","family":"Tutu
        Tsamemba","sequence":"additional","affiliation":[]},{"given":"Hippolyte","family":"Nshimba
        Seya wa Malale","sequence":"additional","affiliation":[]}],"member":"2258","published-online":{"date-parts":[[2019,12,23]]},"reference":[{"key":"47386_B1","year":"2012"},{"key":"47386_B2","author":"Bamps","year":"1968","journal-title":"Flore
        du Congo, du Rwanda et du Burundi: Index des lieux de r\u00e9coltes (cit\u00e9s
        dans les volumes I \u00e0 X)."},{"key":"47386_B3","author":"Chapman","first-page":"263","year":"2001","article-title":"Fishes
        of African rain forests. Diverse adaptations to environmental challenge.","journal-title":"Yale
        University Press"},{"key":"47386_B4","DOI":"10.1007\/BF01289120","doi-asserted-by":"publisher"},{"key":"47386_B5","DOI":"10.1007\/BF01289759","doi-asserted-by":"publisher"},{"key":"47386_B6","first-page":"55","article-title":"Die
        Diatomeenflora einiger Gew\u00e4sser der Ruwenzori-Gebirge in Zentralafrika.","volume":"8","author":"Cholnoky","year":"1964","journal-title":"Nova
        Hedwigia"},{"key":"47386_B7","author":"Cholnoky","year":"1970","journal-title":"Bacillariophyc\u00e9es
        des marais du lac Bangweolo. In: Symoens J-J (Ed.) Exploration Hydrobiologique
[...]
