http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.3897/phytokeys.74.10380
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 rOpenSci(crul/%s)0.9.0 rOpenSci(rcrossref/0.9.2.9610)
        (mailto:myrmecocystus@gmail.com)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2019,11,25]],"date-time":"2019-11-25T21:03:03Z","timestamp":1574715783560},"reference-count":18,"publisher":"Pensoft
        Publishers","license":[{"URL":"http:\/\/creativecommons.org\/licenses\/by\/4.0\/","start":{"date-parts":[[2016,11,8]],"date-time":"2016-11-08T00:00:00Z","timestamp":1478563200000},"delay-in-days":0,"content-version":"vor"}],"funder":[{"DOI":"10.13039\/100009980","name":"Old
        Dominion University","doi-asserted-by":"publisher","award":[]}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["PK"],"DOI":"10.3897\/phytokeys.74.10380","type":"journal-article","created":{"date-parts":[[2016,11,8]],"date-time":"2016-11-08T15:31:10Z","timestamp":1478619070000},"page":"97-106","source":"Crossref","is-referenced-by-count":2,"title":["Isoetes
        mississippiensis: A new quillwort from Mississippi, USA"],"prefix":"10.3897","volume":"74","author":[{"given":"Peter
        W.","family":"Schafran","sequence":"first","affiliation":[]},{"given":"Steven
        W.","family":"Leonard","sequence":"additional","affiliation":[]},{"given":"Rebecca
        D.","family":"Bray","sequence":"additional","affiliation":[]},{"given":"W.
        Carl","family":"Taylor","sequence":"additional","affiliation":[]},{"given":"Lytton
        J.","family":"Musselman","sequence":"additional","affiliation":[]}],"member":"2258","published-online":{"date-parts":[[2016,11,8]]},"reference":[{"key":"10380_B1","first-page":"38","article-title":"Synopsis
        of Isoetes in the southeastern United States.","volume":"47","author":"Boom","year":"1982","journal-title":"Castanea"},{"key":"10380_B2","DOI":"10.1640\/amfj-105-02-86-100.1","doi-asserted-by":"publisher"},{"key":"10380_B3","first-page":"358","article-title":"The
        genus Isoetes in North America.","volume":"4","author":"Engelmann","year":"1882","journal-title":"Transactions
        of the Academy of Science of St Louis"},{"key":"10380_B4","DOI":"10.2179\/0008-7475(2005)070[0204:TRONAG]2.0.CO;2","doi-asserted-by":"publisher"},{"key":"10380_B5","DOI":"10.1640\/0002-8444(2003)093[0126:AROISF]2.0.C[...]
