http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.3897/compcytogen.v10i4.9536
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 rOpenSci(crul/%s)0.9.0 rOpenSci(rcrossref/1.0.0) (mailto:myrmecocystus@gmail.com)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2020,3,23]],"date-time":"2020-03-23T04:03:40Z","timestamp":1584936220465},"reference-count":52,"publisher":"Pensoft
        Publishers","issue":"4","license":[{"URL":"http:\/\/creativecommons.org\/licenses\/by\/4.0\/","start":{"date-parts":[[2016,11,4]],"date-time":"2016-11-04T00:00:00Z","timestamp":1478217600000},"delay-in-days":0,"content-version":"vor"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["CCG"],"DOI":"10.3897\/compcytogen.v10i4.9536","type":"journal-article","created":{"date-parts":[[2016,11,4]],"date-time":"2016-11-04T13:17:02Z","timestamp":1478265422000},"page":"543-554","source":"Crossref","is-referenced-by-count":12,"title":["Towards
        a FISH-based karyotype of Rosa L. (Rosaceae)"],"prefix":"10.3897","volume":"10","author":[{"given":"Ilya
        V.","family":"Kirov","sequence":"first","affiliation":[]},{"given":"Katrijn","family":"Van
        Laere","sequence":"additional","affiliation":[]},{"given":"Nadine","family":"Van
        Roy","sequence":"additional","affiliation":[]},{"given":"Ludmila I.","family":"Khrustaleva","sequence":"additional","affiliation":[]}],"member":"2258","published-online":{"date-parts":[[2016,11,4]]},"reference":[{"issue":"1","key":"9536_B1","first-page":"17","article-title":"Karyotype
        analyses of five wild rose species belonging to septet A by fluorescence in
        situ hybridization.","volume":"6","author":"Akasaka","year":"2002","journal-title":"Chromosome
        Science"},{"key":"9536_B2","DOI":"10.1270\/jsbbs.53.177","doi-asserted-by":"publisher"},{"key":"9536_B3","DOI":"10.1007\/s00606-016-1309-3","doi-asserted-by":"publisher"},{"key":"9536_B4","DOI":"10.1101\/gr.194601","doi-asserted-by":"publisher"},{"key":"9536_B5","DOI":"10.1007\/s00122-002-1102-2","doi-asserted-by":"publisher"},{"key":"9536_B6","DOI":"10.1007\/s10577-009-9060-z","doi-asserted-by":"publisher"},{"key":"9536_B7","DOI":"10.1007\/s00122-005-2042-4","doi-asserted-by":"publisher"},{"key":"9536_B8","DOI":"10.1093\/aob\/mcu178","doi-asserted-by":"publisher"},{"k[...]
- request:
    method: get
    uri: http://compcytogen.pensoft.net/lib/ajax_srv/article_elements_srv.php?action=download_pdf&item_id=9536
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-disposition: attachment;filename="CCG_article_9536_en_1.pdf"
      content-type: application/pdf
    body:
      encoding: UTF-8
      file: yes
      string: ../files/10.3897.compcytogen.v10i4.9536.pdf
  recorded_at: 2020-05-08 23:17:44 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2.92
