http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.7717/peerj.1268
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 rOpenSci(crul/%s)0.9.0 rOpenSci(rcrossref/1.0.0) (mailto:myrmecocystus@gmail.com)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2019,11,26]],"date-time":"2019-11-26T00:53:29Z","timestamp":1574729609930},"reference-count":83,"publisher":"PeerJ","license":[{"URL":"http:\/\/creativecommons.org\/licenses\/by\/4.0\/","start":{"date-parts":[[2015,9,22]],"date-time":"2015-09-22T00:00:00Z","timestamp":1442880000000},"delay-in-days":0,"content-version":"unspecified"}],"funder":[{"DOI":"10.13039\/100000001","name":"National
        Science Foundation","doi-asserted-by":"crossref","award":["DEB-0717220"]},{"name":"NSF
        GRFP","award":[]}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"abstract":"<jats:p>Many
        animals with complex life cycles can cope with environmental uncertainty by
        altering the timing of life history switch points through plasticity. Pond
        hydroperiod has important consequences for the fitness of aquatic organisms
        and many taxa alter the timing of life history switch points in response to
        habitat desiccation. For example, larval amphibians can metamorphose early
        to escape drying ponds. Such plasticity may induce variation in size and morphology
        of juveniles which can result in carry-over effects on jumping performance.
        To investigate the carry-over effects of metamorphic plasticity to pond drying,
        we studied the T\u00fangara frog,<jats:italic>Physalaemus pustulosus<\/jats:italic>,
        a tropical anuran that breeds in highly ephemeral habitats. We conducted an
        outdoor field mesocosm experiment in which we manipulated water depth and
        desiccation and measured time and size at metamorphosis, tibiofibula length
        and jumping performance. We also conducted a complimentary laboratory experiment
        in which we manipulated resources, water depth and desiccation. In the field
        experiment, metamorphs from d[...]
- request:
    method: get
    uri: https://peerj.com/articles/1268.pdf
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-disposition: inline; filename="peerj-1268.pdf"
      content-type: application/pdf
      etag: '"2c11ba0469db45b68eec9fbe673ce37c84389b099115c7c16d366ef974a2975f"'
      last-modified: Tue, 22 Sep 2015 08:23:22 GMT
      link:
      - <https://peerj.com/articles/1268.pdf>; rel="self"
      - <https://peerj.com/articles/1268.html>; rel="alternate"; type="text/html"
      - <https://peerj.com/articles/1268.xml>; rel="alternate"; type="application/xml"
      - <https://peerj.com/articles/1268.json>; rel="alternate"; type="application/json"
      - <https://peerj.com/articles/1268.rdf>; rel="alternate"; type="application/rdf+xml"
      - <https://peerj.com/articles/1268.ris>; rel="alternate"; type="application/x-research-info-systems"
      - <https://peerj.com/articles/1268.bib>; rel="alternate"; type="application/x-bibtex"
      - <https://peerj.com/articles/1268.citeproc>; rel="alternate"; type="application/vnd.citationstyles.csl+json"
      - <https://peerj.com/articles/1268.bibjson>; rel="alternate"; type="application/bibjson+json"
      - <https://peerj.com/articles/1268.unixref>; rel="alternate"; type="application/unixref+xml"
      status: HTTP/1.1 200 OK
      x-country-code: US
      x-ratelimit-limit: ''
      x-ratelimit-remaining: ''
      x-ratelimit-reset: ''
      x-request-start: ''
    body:
      encoding: UTF-8
      file: yes
      string: ../../inst/test_files/1268.pdf
  recorded_at: 2020-03-20 21:10:17 GMT
  recorded_with: vcr/0.5.0.92, webmockr/0.6.0.92
[...]
