http_interactions:
- request:
    method: get
    uri: http://bdj.pensoft.net/lib/ajax_srv/article_elements_srv.php?action=download_xml&item_id=9287
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<!DOCTYPE article PUBLIC
        \"-//TaxonX//DTD Taxonomic Treatment Publishing DTD v0 20100105//EN\" \"../../nlm/tax-treatment-NS0.dtd\">\n<article
        xmlns:mml=\"http://www.w3.org/1998/Math/MathML\" xmlns:xlink=\"http://www.w3.org/1999/xlink\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:tp=\"http://www.plazi.org/taxpub\"
        article-type=\"research-article\" dtd-version=\"3.0\" xml:lang=\"en\">\n  <front>\n
        \   <journal-meta>\n      <journal-id journal-id-type=\"publisher-id\">1</journal-id>\n
        \     <journal-id journal-id-type=\"index\">urn:lsid:arphahub.com:pub:F9B2E808-C883-5F47-B276-6D62129E4FF4</journal-id>\n
        \     <journal-id journal-id-type=\"aggregator\">urn:lsid:zoobank.org:pub:245B00E9-BFE5-4B4F-B76E-15C30BA74C02</journal-id>\n
        \     <journal-title-group>\n        <journal-title xml:lang=\"en\">Biodiversity
        Data Journal</journal-title>\n        <abbrev-journal-title xml:lang=\"en\">BDJ</abbrev-journal-title>\n
        \     </journal-title-group>\n      <issn pub-type=\"ppub\">1314-2836</issn>\n
        \     <issn pub-type=\"epub\">1314-2828</issn>\n      <publisher>\n        <publisher-name>Pensoft
        Publishers</publisher-name>\n      </publisher>\n    </journal-meta>\n    <article-meta>\n
        \     <article-id pub-id-type=\"doi\">10.3897/BDJ.4.e9287</article-id>\n      <article-id
        pub-id-type=\"publisher-id\">9287</article-id>\n      <article-id pub-id-type=\"manuscript\">5814</article-id>\n
        \     <article-categories>\n        <subj-group subj-group-type=\"heading\">\n
        \         <subject>Taxonomic Paper</subject>\n        </subj-group>\n        <subj-group
        subj-group-type=\"Taxon classification\">\n          <subject>Crustacea</subject>\n
        \         <subject>Peracarida</subject>\n          <subject>Cumacea</subject>\n
        \         <subject>Arthropoda</subject>\n          <subject>Malacostraca</subject>\n
        \       </subj-group>\n        <subj-group subj-group-type=\"Subject classification\">\n
        \         <subject>Aquatic biology</subject>\n          <subject>Biodiversity
        &amp; Conservation</subject>\n          <subject>Biogeography</subject>\n
        \       </subj-group>\n        <subj-group subj-group-type=\"Geographical
        classification\">\n          <subject>Southern Europe and Mediterranean</subject>\n
        \       </subj-group>\n      </article-categories>\n      <title-group>\n
        \       <article-title><tp:taxon-name><tp:taxon-name-part taxon-name-part-type=\"order\">Cumacea</tp:taxon-name-part></tp:taxon-name>
        of Greece: a preliminary checklist</article-title>\n      </title-group>\n
        \     <contrib-group content-type=\"authors\">\n        <contrib contrib-type=\"author\"
        corresp=\"yes\" xlink:type=\"simple\">\n          <name name-style=\"western\">\n
        \           <surname>Koulouri</surname>\n            <given-names>Panayota</given-names>\n
        \         </name>\n          <email xlink:type=\"simple\">yol72@hcmr.gr</email>\n
        \         <xref ref-type=\"aff\" rid=\"A1\">‡</xref>\n        </contrib>\n
        \       <contrib contrib-type=\"author\" corresp=\"no\" xlink:type=\"simple\">\n
        \         <name name-style=\"western\">\n            <surname>Gerovasileiou</surname>\n
        \           <given-names>Vasilis</given-names>\n          </name>\n          <xref
        ref-type=\"aff\" rid=\"A1\">‡</xref>\n        </contrib>\n        <contrib
        contrib-type=\"author\" corresp=\"no\" xlink:type=\"simple\">\n          <name
        name-style=\"western\">\n            <surname>Bailly</surname>\n            <given-names>Nicolas</given-names>\n
        \         </name>\n          <xref ref-type=\"aff\" rid=\"A1\">‡</xref>\n
        \       </contrib>\n      </contrib-group>\n      <aff id=\"A1\">\n        <label>1</label>\n
        \       <addr-line content-type=\"verbatim\">Institute of Marine Biology,
        Biotechnology and Aquaculture, Hellenic Centre for Marine Research, Heraklion,
        Greece</addr-line>\n        <institution xlink:type=\"simple\">Institute of
        Marine Biology, Biotechnology and Aquaculture, Hellenic Centre for Marine
        Research</institution>\n        <addr-line content-type=\"city\">Heraklion</addr-line>\n
        \       <country>Greece</country>\n      </aff>\n      <author-notes>\n        <fn
        fn-type=\"corresp\">\n          <p>Corresponding author: Panayota Koulouri
        (<email xlink:type=\"simple\">yol72@hcmr.gr</email>).</p>\n        </fn>\n
        \       <fn fn-type=\"edited-by\">\n          <p>Academic editor: Christos
        Arvanitidis</p>\n        </fn>\n      </author-notes>\n      <pub-date pub-type=\"collection\">\n
        \       <year>2016</year>\n      </pub-date>\n      <pub-date pub-type=\"epub\">\n
        \       <day>01</day>\n        <month>11</month>\n        <year>2016</year>\n
        \     </pub-date>\n      <volume>4</volume>\n      <elocation-id>e9287</elocation-id>\n
        \     <uri content-type=\"arpha\" xlink:href=\"http://openbiodiv.net/FFCF3732-1A6A-FFF5-DD16-FFA8FFDDAA68\">FFCF3732-1A6A-FFF5-DD16-FFA8FFDDAA68</uri>\n
        \     <uri content-type=\"zenodo_dep_id\" xlink:href=\"https://zenodo.org/record/164058\">164058</uri>\n
        \     <history>\n        <date date-type=\"received\">\n          <day>20</day>\n
        \         <month>05</month>\n          <year>2016</year>\n        </date>\n
        \       <date date-type=\"accepted\">\n          <day>03</day>\n          <month>07</month>\n
        \         <year>2016</year>\n        </date>\n      </history>\n      <permissions>\n
        \       <copyright-statement>Panayota Koulouri, Vasilis Gerovasileiou, Nicolas
        Bailly</copyright-statement>\n        <license license-type=\"creative-commons-attribution\"
        xlink:href=\"http://creativecommons.org/licenses/by/4.0\" xlink:type=\"simple\">\n
        \         <license-p>This is an open access article distributed under the
        terms of the Creative Commons Attribution License 4.0 (CC-BY), which permits
        unrestricted use, distribution, and reproduction in any medium, provided the
        original author and source are credited.</license-p>\n        </license>\n
        \     </permissions>\n      <abstract>\n        <label>Abstract</label>\n
        \       <sec sec-type=\"background\">\n          <title>Background</title>\n
        \         <p>The first attempt to compile the checklist of <tp:taxon-name><tp:taxon-name-part
        taxon-name-part-type=\"order\">Cumacea</tp:taxon-name-part></tp:taxon-name>
        of Greece was made in the context of the \"Greek Biodiversity Database\" project
        (2005-2008) coordinated by the Aristotle University of Thessaloniki. Since
        then, only scattered information on new elements of the Greek cumacean fauna
        has been available. The objectives of the present study were to update and
        cross-check taxonomically all cumacean species records from Greek waters for
        inaccuracies and omissions according to the recent literature and current
        taxonomic status.</p>\n        </sec>\n        <sec sec-type=\"new information\">\n
        \         <title>New information</title>\n          <p>The updated checklist
        of <tp:taxon-name><tp:taxon-name-part taxon-name-part-type=\"order\">Cumacea</tp:taxon-name-part></tp:taxon-name>
        of Greece, which was built within the framework of the LifeWatch Greece Research
        Infrastructure (ESFRI) project (2013-2015) coordinated by the Hellenic Centre
        for Marine Research, comprises 62 species, classified in 24 genera and 6 families.
        However, a few more records need further cross-checking with the current literature
        resources.</p>\n        </sec>\n      </abstract>\n      <kwd-group>\n        <label>Keywords</label>\n
        \       <kwd>\n          <tp:taxon-name>\n            <tp:taxon-name-part
        taxon-name-part-type=\"order\">Cumacea</tp:taxon-name-part>\n          </tp:taxon-name>\n
        \       </kwd>\n        <kwd>Greece</kwd>\n        <kwd>Aegean Sea</kwd>\n
        \       <kwd>Sea of Crete</kwd>\n        <kwd>Ionian Sea</kwd>\n        <kwd>Eastern
        Mediterranean</kwd>\n        <kwd>checklist</kwd>\n      </kwd-group>\n      <counts>\n
        \       <fig-count count=\"0\"/>\n        <table-count count=\"0\"/>\n        <ref-count
        count=\"20\"/>\n      </counts>\n    </article-meta>\n  </front>\n  <body>\n
        \   <sec sec-type=\"Introduction\">\n      <title>Introduction</title>\n      <p>The
        most important contributions to the Greek records of the taxonomic group of
        <tp:taxon-name><tp:taxon-name-part taxon-name-part-type=\"order\">Cumacea</tp:taxon-name-part></tp:taxon-name>
        have been made by <xref ref-type=\"bibr\" rid=\"B3230428\">Reyss (1974)</xref[...]
