http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.7717/peerj.1268
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 rOpenSci(crul/%s)0.9.0 rOpenSci(rcrossref/0.9.2.9610)
        (mailto:myrmecocystus@gmail.com)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2019,11,26]],"date-time":"2019-11-26T00:53:29Z","timestamp":1574729609930},"reference-count":83,"publisher":"PeerJ","license":[{"URL":"http:\/\/creativecommons.org\/licenses\/by\/4.0\/","start":{"date-parts":[[2015,9,22]],"date-time":"2015-09-22T00:00:00Z","timestamp":1442880000000},"delay-in-days":0,"content-version":"unspecified"}],"funder":[{"DOI":"10.13039\/100000001","name":"National
        Science Foundation","doi-asserted-by":"crossref","award":["DEB-0717220"]},{"name":"NSF
        GRFP","award":[]}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"abstract":"<jats:p>Many
        animals with complex life cycles can cope with environmental uncertainty by
        altering the timing of life history switch points through plasticity. Pond
        hydroperiod has important consequences for the fitness of aquatic organisms
        and many taxa alter the timing of life history switch points in response to
        habitat desiccation. For example, larval amphibians can metamorphose early
        to escape drying ponds. Such plasticity may induce variation in size and morphology
        of juveniles which can result in carry-over effects on jumping performance.
        To investigate the carry-over effects of metamorphic plasticity to pond drying,
        we studied the T\u00fangara frog,<jats:italic>Physalaemus pustulosus<\/jats:italic>,
        a tropical anuran that breeds in highly ephemeral habitats. We conducted an
        outdoor field mesocosm experiment in which we manipulated water depth and
        desiccation and measured time and size at metamorphosis, tibiofibula length
        and jumping performance. We also conducted a complimentary laboratory experiment
        in which we manipulated resources, water depth and desiccation. In the field
        experiment, metamorphs from d[...]
- request:
    method: get
    uri: https://api.crossref.org/works/10.5555/515151
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 rOpenSci(crul/%s)0.9.0 rOpenSci(rcrossref/0.9.2.9610)
        (mailto:myrmecocystus@gmail.com)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limi[...]
- request:
    method: get
    uri: https://api.crossref.org/works/10.1016/j.ad.2015.06.020
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 rOpenSci(crul/%s)0.9.0 rOpenSci(rcrossref/0.9.2.9610)
        (mailto:myrmecocystus@gmail.com)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2019,11,26]],"date-time":"2019-11-26T15:54:49Z","timestamp":1574783689006},"reference-count":0,"publisher":"Elsevier
        BV","issue":"9","license":[{"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/","start":{"date-parts":[[2016,11,1]],"date-time":"2016-11-01T00:00:00Z","timestamp":1477958400000},"delay-in-days":0,"content-version":"tdm"}],"content-domain":{"domain":["clinicalkey.es","elsevier.es","elsevier.com","sciencedirect.com"],"crossmark-restriction":true},"short-container-title":["Actas
        Dermo-Sifiliogr\u00e1ficas"],"published-print":{"date-parts":[[2016,11]]},"DOI":"10.1016\/j.ad.2015.06.020","type":"journal-article","created":{"date-parts":[[2016,4,10]],"date-time":"2016-04-10T00:54:46Z","timestamp":1460249686000},"page":"779","update-policy":"http:\/\/dx.doi.org\/10.1016\/elsevier_cm_policy","source":"Crossref","is-referenced-by-count":0,"title":["Ecograf\u00eda
        dermatol\u00f3gica de la necrosis grasa encapsulada"],"prefix":"10.1016","volume":"107","author":[{"given":"B.","family":"Echeverr\u00eda-Garc\u00eda","sequence":"first","affiliation":[]},{"given":"A.","family":"Hern\u00e1ndez-Nu\u00f1ez","sequence":"additional","affiliation":[]},{"given":"J.","family":"Borbujo","sequence":"additional","affiliation":[]}],"member":"78","container-title":["Actas
        Dermo-Sifiliogr\u00e1ficas"],"original-title":[],"language":"es","link":[{"URL":"https:\/\/api.elsevier.com\/content\/article\/PII:S0001731016000879?httpAccept=text\/xml","content-type":"text\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.elsevier.com\/content\/article\/PII:S0001731016000879?httpAccept=text\/plain","content-type":"text\/plain","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2018,9,13]],"date-time":"2018-09-13T13:54:44Z","timestamp":1536846884000},"score":1.0,"subtitle":[],"short-title":[],"issued":{"date-parts":[[2016,11]]},"references-count":0,"journal-issue":{"published-print":{"date-parts":[[2016,11]]},"issue":"9"},"alternative-id":["S0001731016000879"],"URL":"http:\/\/dx.doi.org\/10.1016\/j.ad.2015.06.020","relation":{},"ISSN":["0001-7310"],"issn-type":[{"value":"0001-7310","type":"print"}],"assertion":[{"value":"Elsevier","name":"publisher","label":"This
        article is maintained by"},{"value":"Ecograf\u00eda dermatol\u00f3gica de
        la necrosis grasa encapsulada","name":"articletitle","label":"Article Title"},{"value":"Actas
        Dermo-Sifiliogr\u00e1ficas","name":"journaltitle","label":"Journal Title"},{"value":"https:\/\/doi.org\/10.1016\/j.ad.2015.06.020","name":"articlelink","label":"CrossRef
        DOI link to publisher maintained version"},{"value":"article","name":"content_type","label":"Content
        Type"},{"value":"\u00a9 2016 Published by Elsevier Espa\u00f1a, S.L.U. on
        behalf of AEDV.","name":"copyright","label":"Copyright"}]}}'
  recorded_at: 2020-03-13 15:26:37 GMT
  recorded_with: vcr/0.5.0, webmockr/0.6.0
[...]
