http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.7717/peerj.2363
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 rOpenSci(crul/%s)0.9.0 rOpenSci(rcrossref/0.9.2.9610)
        (mailto:name@example.com)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2019,11,27]],"date-time":"2019-11-27T05:22:04Z","timestamp":1574832124024},"reference-count":45,"publisher":"PeerJ","license":[{"URL":"http:\/\/creativecommons.org\/licenses\/by\/4.0\/","start":{"date-parts":[[2016,8,24]],"date-time":"2016-08-24T00:00:00Z","timestamp":1471996800000},"delay-in-days":0,"content-version":"unspecified"}],"funder":[{"name":"Ministry
        of Education, Youth, and Sports of the Czech Republic CENAKVA","award":["CZ.1.05\/2.1.00\/01.0024"]},{"name":"CENAKVA
        II","award":["LO1205 (NPU I)"]},{"name":"Grant Agency of the University of
        South Bohemia","award":["017\/2016\/Z"]}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"abstract":"<jats:p>The
        ultrastructure of spermatozoa in three species of cambarid crayfish,<jats:italic>Cambarus
        robustus<\/jats:italic>,<jats:italic>Orconectes propinquus<\/jats:italic>,
        and<jats:italic>Orconectes rusticus<\/jats:italic>, were studied and compared
        with eight previously studied species from different crayfish families using
        morphological features and biometrical data. The ultrastructure of spermatozoa
        show a generally conserved pattern including an acrosome and nucleus in the
        anterior and posterior parts of the cell, respectively, radial arms that wrap
        around the nucleus, and the whole cell is enclosed by an extracellular capsule.
        The most outstanding morphological feature in spermatozoa of three studied
        cambarid crayfish is the crest-like protrusions in the anterior part of the
        acrosome that can be used as one of the features for distinguishing the members
        of this family. Results of biometrical data reveal that acrosome size in the
        representatives of Parastacidae are the smallest, while representatives of
        Astacidae show the biggest acrosome. The acrosome size in species belonging
        to Cambaridae occupy an intermediate position between the two other families
        of freshwater crayfish. In conclusion, a combination of morphological features
        and biometrical data of spermatozoa can help distinguishing different species
        of the freshwater crayfish.<\/jats:p>","DOI":"10.7717\/peerj.2363","type":"journal-article","created":{"date-parts":[[2016,8,24]],"date-time":"2016-08-24T09:18:46Z","timestamp":1472030326000},"page":"e2363","source":"Crossref","is-referenced-by-count":10,"title":["Fine
        structure of the spermatozoon in three species of Cambaridae (Arthropoda:
        Crustacea: Decapoda)Cambarus robustus,Orconectes propinquusandOrconectes rusticus:
        a comparative biometrical study"],"prefix":"10.7717","volume":"4","author":[{"given":"Buket","family":"Yazicioglu","sequence":"first","affiliation":[{"name":"University
        of South Bohemia in \u010cesk\u00e9 Bud\u011bjovice, Faculty of Fisheries
        and Protection of Waters, South Bohemian Research Centre of Aquaculture and
        Biodiversity of Hydrocenoses, Vod\u0148any, Czech Republic"}]},{"given":"P\u0159emek","family":"Hamr","sequence":"additional","affiliation":[{"name":"Upper
        Canada College, Toronto, ON, Canada"}]},{"given":"Pavel","family":"Koz\u00e1k","sequence":"additional","affiliation":[{"name":"University
        of South Bohemia in \u010cesk\u00e9 Bud\u011bjovice, Faculty of Fisheries
        and Protection of Waters, South Bohemian Research Centre of Aquaculture and
        Biodiversity of Hydrocenoses, Vod\u0148any, Czech Republic"}]},{"given":"Anton\u00edn","family":"Kouba","sequence":"additional","affiliation":[{"name":"University
        of South Bohemia in \u010cesk\u00e9 Bud\u011bjovice, Faculty of Fisheries
        and Protection of Waters, South Bohemian Research Centre of Aquaculture and
        Biodiversity of Hydrocenoses, Vod\u0148any, Czech Republic"}]},{"given":"Hamid","family":"Niksirat","sequence":"additional","affiliation":[{"name":"University
        of South Bohemia in \u010cesk\u00e9 Bud\u011bjovice, Faculty of Fisheries
        and Protection of Waters, South Bohemian Research Centre of Aquaculture and
        Biodiversity of Hydrocenoses, Vod\u0148any, Czech Republic"}]}],"member":"4443","published-online":{"date-parts":[[2016,8,24]]},"reference":[{"key":"10.7717\/peerj.2363\/ref-1","doi-asserted-by":"publisher","first-page":"80","DOI":"10.1007\/bf00336700","article-title":"Cytodifferentiation
        of the crayfish spermatozoon: acrosome formation, transformation of mitochondria
        and development of microtubules","volume":"77","author":"Anderson","year":"1967","journal-title":"Zeitschrift
        f\u00fcr Zellforschung und mikroskopische Anatomie"},{"key":"10.7717\/peerj.2363\/ref-2","doi-asserted-by":"publisher","first-page":"1","DOI":"10.1016\/S0889-1605(62)80002-0","article-title":"Contribution
        \u00e0 la connaissance du chondriome","volume":"6","author":"Andr\u00e9","year":"1962","journal-title":"Journal
        of Ultrastructure Research"},{"key":"10.7717\/peerj.2363\/ref-3","doi-asserted-by":"publisher","first-page":"357","DOI":"10.1071\/IT01010","articl[...]
