http_interactions:
- request:
    method: get
    uri: https://peerj.com/articles/1545.html
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-disposition: inline; filename="peerj-1545.html"
      content-type: text/html; charset=utf-8
      etag: '"7b5787958278a862631604ffa62bc92eca0e8460f9fa7cc9abfecd1a9aeb7061-gzip"'
      last-modified: Sat, 16 Jan 2016 20:47:40 GMT
      link:
      - <https://peerj.com/articles/1545.html>; rel="self"
      - <https://peerj.com/articles/1545.xml>; rel="alternate"; type="application/xml"
      - <https://peerj.com/articles/1545.pdf>; rel="alternate"; type="application/pdf"
      - <https://peerj.com/articles/1545.json>; rel="alternate"; type="application/json"
      - <https://peerj.com/articles/1545.rdf>; rel="alternate"; type="application/rdf+xml"
      - <https://peerj.com/articles/1545.ris>; rel="alternate"; type="application/x-research-info-systems"
      - <https://peerj.com/articles/1545.bib>; rel="alternate"; type="application/x-bibtex"
      - <https://peerj.com/articles/1545.citeproc>; rel="alternate"; type="application/vnd.citationstyles.csl+json"
      - <https://peerj.com/articles/1545.bibjson>; rel="alternate"; type="application/bibjson+json"
      - <https://peerj.com/articles/1545.unixref>; rel="alternate"; type="application/unixref+xml"
      status: HTTP/1.1 200 OK
      x-country-code: US
      x-ratelimit-limit: ''
      x-ratelimit-remaining: ''
      x-ratelimit-reset: ''
      x-request-start: ''
    body:
      encoding: UTF-8
      file: no
      string: "<!doctype html>\n<html>\n  <head>\n    <meta charset=\"utf-8\"/>\n
        \   <title>Unveiling the status of alien animals in the arid zone of Asia</title>\n
        \   <link rel=\"canonical\" href=\"https://peerj.com/articles/1545\"/>\n    <meta
        name=\"citation_title\" content=\"Unveiling the status of alien animals in
        the arid zone of Asia\"/>\n    <meta name=\"citation_date\" content=\"2016-01-12\"/>\n
        \   <meta name=\"citation_doi\" content=\"10.7717/peerj.1545\"/>\n    <meta
        name=\"citation_language\" content=\"en\"/>\n    <meta name=\"citat[...]
