http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.7717/peerj.8746
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 rOpenSci(crul/%s)0.9.2.92 rOpenSci(rcrossref/1.0.0.92)
        (mailto:myrmecocystus@gmail.com)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2020,6,10]],"date-time":"2020-06-10T06:49:11Z","timestamp":1591771751352},"reference-count":41,"publisher":"PeerJ","license":[{"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/","start":{"date-parts":[[2020,3,27]],"date-time":"2020-03-27T00:00:00Z","timestamp":1585267200000},"delay-in-days":0,"content-version":"unspecified"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"abstract":"<jats:p>Agricultural
        intensification is one of the major drivers of biotic homogenization and has
        multiple levels ranging from within-field management intensity to landscape-scale
        simplification. The enhancement of invertebrate assemblages by establishing
        new, semi-natural habitats, such as set-aside fields can improve biological
        pest control in adjacent crops, and mitigate the adverse effect of biotic
        homogenization. In this study we aimed to examine the [...]
