http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1155/mbd.1994.183
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 rOpenSci(crul/%s)0.9.0 rOpenSci(rcrossref/0.9.2.9610)
        (mailto:myrmecocystus@gmail.com)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2019,11,20]],"date-time":"2019-11-20T20:14:36Z","timestamp":1574280876810},"reference-count":0,"publisher":"Hindawi
        Limited","issue":"2-3","license":[{"URL":"http:\/\/creativecommons.org\/licenses\/by\/3.0\/","start":{"date-parts":[[1994,1,1]],"date-time":"1994-01-01T00:00:00Z","timestamp":757382400000},"delay-in-days":0,"content-version":"unspecified"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Metal-Based
        Drugs"],"published-print":{"date-parts":[[1994]]},"DOI":"10.1155\/mbd.1994.183","type":"journal-article","created":{"date-parts":[[2007,3,14]],"date-time":"2007-03-14T12:33:53Z","timestamp":1173875633000},"page":"183-193","source":"Crossref","is-referenced-by-count":3,"title":["Degradation
        of Anthracycline Antitumor Compounds Catalysed by Metal Ions"],"prefix":"10.1155","volume":"1","author":[{"given":"Marina
        M. L.","family":"Fiallo","sequence":"first","affiliation":[]},{"given":"Hayet
        Tayeb-Bel","family":"Haj","sequence":"additional","affiliation":[]},{"given":"Arlette","family":"Garnier-Suillerot","sequence":"additional","affiliation":[]}],"member":"98","container-title":["Metal-Based
        Drugs"],"original-title":[],"language":"en","link":[{"URL":"http:\/\/downloads.hindawi.com\/archive\/1994\/469314.pdf","content-type":"application\/pdf","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2014,4,30]],"date-time":"2014-04-30T07:36:22Z","timestamp":1398843382000},"score":1.0,"subtitle":[],"short-title":[],"issued":{"date-parts":[[1994]]},"references-count":0,"journal-issue":{"published-print":{"date-parts":[[1994]]},"issue":"2-3"},"alternative-id":["469314"],"URL":"http:\/\/dx.doi.org\/10.1155\/mbd.1994.183","relation":{},"ISSN":["0793-0291"],"issn-type":[{"value":"0793-0291","type":"print"}]}}'
  recorded_at: 2020-03-13 15:53:44 GMT
  recorded_with: vcr/0.5.0, webmockr/0.6.0
