http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.7717/peerj.1545
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 rOpenSci(crul/%s)0.9.0 rOpenSci(rcrossref/0.9.2.9610)
        (mailto:myrmecocystus@gmail.com)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2019,11,26]],"date-time":"2019-11-26T08:29:28Z","timestamp":1574756968356},"reference-count":61,"publisher":"PeerJ","license":[{"URL":"http:\/\/creativecommons.org\/licenses\/by\/4.0\/","start":{"date-parts":[[2016,1,12]],"date-time":"2016-01-12T00:00:00Z","timestamp":1452556800000},"delay-in-days":0,"content-version":"unspecified"}],"funder":[{"name":"National
        Basic Science Program of China","award":["2013FY110300"]},{"name":"Chinese
        Environmental Stewardship Award of Conoco Philips China","award":["G 66012446"]}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"abstract":"<jats:p>Biological
        invasion is one of the most threatening factors for biodiversity conservation.
        Lacking information on alien species in certain regions of the world hampers
        a balanced understanding of invasion processes and efficient data exchange
        among stakeholders. Current knowledge gaps are in need of urgent concern.
        We therefore conducted a review on alien animals in Xinjiang, an unknown region
        of invasion ecology. Xinjiang lies in the heartland of the Asian continent,
        covering an area of 1,664,900 km<jats:sup>2<\/jats:sup>. In the past 64 years,
        128 alien animal species were recorded in this region, 39% of which became
        invasive and led to loss of native biodiversity. Most of these species were
        introduced through diversification of local agriculture and aquaculture. This
        process was aggravated by improving transportation and flourishing trade.
        Multiple linear regression models and correlation analysis were run for explaining
        influence of environmental and anthropogenic factors on status of alien animals:
        economically developed areas with abundant water resource, oases in particular,
        were prone to be hotspots of alien animal species in this arid and semi-arid
        region. This study also revealed that taxonomically biased and lagged research
        were critical problems that impeded studies on biological invasions in Xinjiang,
        and proposed feasible solutions.<\/jats:p>","DOI":"10.7717\/peerj.1545","type":"journal-article","created":{"date-parts":[[2016,1,12]],"date-time":"2016-01-12T09:12:08Z","timestamp":1452589928000},"page":"e1545","source":"Crossref","is-referenced-by-count":2,"title":["Unveiling
        the status of alien animals in the arid zone of Asia"],"prefix":"10.7717","volume":"4","author":[{"given":"Lyubing","family":"Zhang","sequence":"first","affiliation":[{"name":"Key
        Laboratory of Animal Ecology and Conservation Biology, Institute of Zoology,
        Chinese Academy of Sciences, Beijing, China"},{"name":"University of Chinese
        Academy of Sciences, Beijing, China"},{"name":"College of Resources and Environment
        Science, Xinjiang University, Urumqi, Xinjiang, China"}]},{"given":"Zhigang","family":"Jiang","sequence":"additional","affiliation":[{"name":"Key
        Laboratory of Animal Ecology and Conservation Biology, Institute of Zoology,
        Chinese Academy of Sciences, Beijing, China"},{"name":"University of Chinese
        Academy of Sciences, Beijing, China"}]}],"member":"4443","published-online":{"date-parts":[[2016,1,12]]},"reference":[{"issue":"supplement","key":"10.7717\/peerj.1545\/ref-1","first-page":"57","article-title":"Analysis
        of the production and its development of fruit trees in Xinjiang","volume":"25","author":"Bi","year":"2002","journal-title":"Journal
        of Xinjiang Agricultural University"},{"key":"10.7717\/peerj.1545\/ref-2","first-page":"57","article-title":"Analysis
        of the production and its development of fruit trees in Xinjiang","volume":"25","author":"Bi","year":"2009","journal-title":"Journal
        of Xinjiang Agricultural University"},{"issue":"7","key":"10.7717\/peerj.1545\/ref-3","doi-asserted-by":"crossref","first-page":"333","DOI":"10.1016\/j.tree.2011.03.023","article-title":"A
        proposed unified framework for biological invasions","volume":"26","author":"Blackburn","year":"2011","journal-title":"Trends
        in Ecology & Evolution"},{"key":"10.7717\/peerj.1545\/ref-4","author":"CABI","year":"2014","article-title":"Invasive
        Species Compendium"},{"key":"10.7717\/peerj.1545\/ref-5","author":"CASD","year":"2015","journal-title":"China
        Animal Scientific Database (in Chinese)"},{"key":"10.7717\/peerj.1545\/ref-6","author":"Chen","year":"2014","volume-title":"Statistic
        Yearbook of Xinjiang"},{"key":"10.7717\/peerj.1545\/ref-7","author":"China
        Academic Journals Electronic Publishing House Co. Ltd.","year":"2014","journal-title":"China
        Knowledge Resource Integrated Database (in Chinese)"},{"issue":"8","key":"10.7717\/peerj.1545\/ref-8","doi-asserted-by":"crossref","first-page":"414","DOI":"10.1890\/1540-9295(2006)4[414:SMTNWD]2.0.CO;2","article-title":"Show
        me the numbers: what data currently exist for non-native specie[...]
