http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1016/j.intacc.2003.09.001
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 rOpenSci(crul/%s)0.9.2.92 rOpenSci(rcrossref/1.0.0.92)
        (mailto:myrmecocystus@gmail.com)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2020,6,21]],"date-time":"2020-06-21T12:03:38Z","timestamp":1592741018903},"reference-count":102,"publisher":"World
        Scientific Pub Co Pte Lt","issue":"4","license":[{"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/","start":{"date-parts":[[2003,1,1]],"date-time":"2003-01-01T00:00:00Z","timestamp":1041379200000},"delay-in-days":0,"content-version":"tdm"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["The
        International Journal of Accounting"],"published-print":{"date-parts":[[2003,1]]},"DOI":"10.1016\/j.intacc.2003.09.001","type":"journal-article","created":{"date-parts":[[2003,10,15]],"date-time":"2003-10-15T15:49:31Z","timestamp":1066232971000},"page":"465-491","source":"Crossref","is-referenced-by-count":72,"title":["International
        comparative analysis of the association between board structure and the efficiency
        of value added by a firm from its physical capital and intellectual capital
        resources"],"prefix":"10.1142","volume":"38","author":[{"given":"Carol-Anne","family":"Ho","sequence":"first","affiliation":[]},{"given":"S.Mitchell","family":"Williams","sequence":"additional","affiliation":[]}],"member":"219","reference":[{"key":"10.1016\/j.intacc.2003.09.001_BIB1","doi-asserted-by":"crossref","first-page":"377","DOI":"10.2307\/2331397","article-title":"Firm
        performance and mechanisms to control agency problems between managers and
        shareholders","volume":"31","author":"Agrawal","year":"1996","journal-title":"Journal
        of Financial and Quantitative Analysis"},{"key":"10.1016\/j.intacc.2003.09.001_BIB2","doi-asserted-by":"crossref","first-page":"74","DOI":"10.2307\/2393255","article-title":"Leadership
        instability in hospitals: The influence of board\u2013CEO relations and organizational
        growth and decline","volume":"38","author":"Alexander","year":"1993","journal-title":"Administrative
        Science Quarterly"},{"key":"10.1016\/j.intacc.2003.09.001_BIB3","first-page":"206","article-title":"A
        limited rationality model of interlocking directorates","volume":"8","author":"Bazerman","year":"1983","journal-title":"Academy
        of Management Review"},{"key":"10.1016\/j.intacc.2003.09.001_BIB4","author":"Berle","year":"1932","series-title":"The
        modern corporation and private property"},{"issue":"3","key":"10.1016\/j.intacc.2003.09.001_BIB5","first-page":"921","article-title":"The
        uncertain relationship between board composition and firm performance","volume":"54","author":"Bhagat","year":"1999","journal-title":"Business
        Lawyer"},{"key":"10.1016\/j.intacc.2003.09.001_BIB6","author":"Blair","year":"1995","series-title":"Ownership
        and control"},{"issue":"2","key":"10.1016\/j.intacc.2003.09.001_BIB7","doi-asserted-by":"crossref","first-page":"169","DOI":"10.1108\/00251749810204142","article-title":"Intellectual
        capital: An exploratory study that develops measures and models","volume":"36","author":"Bontis","year":"1998","journal-title":"Management
        Decision"},{"key":"10.1016\/j.intacc.2003.09.001_BIB8","unstructured":"Bontis,
        N. (2000). Assessing knowledge assets: A review of the models used to measure
        intellectual capital. Framework Paper 00\u201301, Queen''s University, Kingston,
        Canada: Queen''s Management Research Centre for Knowledge-Based Enterprises."},{"key":"10.1016\/j.intacc.2003.09.001_BIB9","author":"Bornemann","year":"1998","article-title":"Empirical
        analysis of the potential of value systems in Austria according to the VAIC
        method","series-title":"Paper Presented at 19th Annual National Business Conference"},{"key":"10.1016\/j.intacc.2003.09.001_BIB10","doi-asserted-by":"crossref","first-page":"189","DOI":"10.1016\/S0929-1199(96)00013-2","article-tit[...]
