http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.3897/compcytogen.v10i4.9536
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 rOpenSci(crul/%s)0.9.0 rOpenSci(rcrossref/0.9.2.9610)
        (mailto:myrmecocystus@gmail.com)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2019,11,25]],"date-time":"2019-11-25T20:43:08Z","timestamp":1574714588537},"reference-count":52,"publisher":"Pensoft
        Publishers","issue":"4","license":[{"URL":"http:\/\/creativecommons.org\/licenses\/by\/4.0\/","start":{"date-parts":[[2016,11,4]],"date-time":"2016-11-04T00:00:00Z","timestamp":1478217600000},"delay-in-days":0,"content-version":"vor"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["CCG"],"DOI":"10.3897\/compcytogen.v10i4.9536","type":"journal-article","created":{"date-parts":[[2016,11,4]],"date-time":"2016-11-04T13:17:02Z","timestamp":1478265422000},"page":"543-554","source":"Crossref","is-referenced-by-count":11,"title":["Towards
        a FISH-based karyotype of Rosa L. (Rosaceae)"],"prefix":"10.3897","volume":"10","author":[{"given":"Ilya
        V.","family":"Kirov","sequence":"first","affiliation":[]},{"given":"Katrijn","family":"Van
        Laere","sequence":"additional","affiliation":[]},{"given":"Nadine","family":"Van
        Roy","sequence":"additional","affiliation":[]},{"given":"Ludmila I.","family":"Khrustaleva","sequence":"additional","affiliation":[]}],"member":"2258","published-online":{"date-parts":[[2016,11,4]]},"reference":[{"issue":"1","key":"9536_B1","first-page":"17","article-title":"Karyotype
        analyses of five wild rose species belonging to septet A by fluorescence in
        situ hybridization.","volume":"6","author":"Akasaka","year":"2002","journal-title":"Chromosome
        Science"},{"key":"9536_B2","DOI":"10.1270\/jsbbs.53.177","doi-asserted-by":"publisher"},{"key":"9536_B3","DOI":"10.1007\/s00606-016-1309-3","doi-asserted-by":"publisher"},{"key":"9536_B4","DOI":"10.1101\/gr.194601","doi-asserted-by":"publisher"},{"key":"9536_B5","DOI":"10.1007\/s00122-002-1102-2","doi-asserted-by":"publisher"},{"key":"9536_B6","DOI":"10.1007\/s10577-009-9060-z","doi-asserted-by":"publisher"},{"key":"9536_B7","DOI":"10.1007\/s00122-005-2042-4","doi-asserted-by":"publisher"},{"key":"9536_B8","DOI":"10.1093\/aob\/mcu178","doi-asserted-by":"publisher"},{"k[...]
- request:
    method: get
    uri: http://compcytogen.pensoft.net/lib/ajax_srv/article_elements_srv.php?action=download_xml&item_id=9536
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE article PUBLIC "-//TaxonX//DTD Taxonomic Treatment Publishing DTD v0 20100105//EN" "../../nlm/tax-treatment-NS0.dtd">
        <article xmlns:mml="http://www.w3.org/1998/Math/MathML" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:tp="http://www.plazi.org/taxpub" article-type="research-article" dtd-version="3.0" xml:lang="en">
          <front>
            <journal-meta>
              <journal-id journal-id-type="publisher-id">8</journal-id>
              <journal-id journal-id-type="index">urn:lsid:arphahub.com:pub:A71ED5FC-60ED-5DA3-AC8E-F6D2BB5B3573</journal-id>
              <journal-id journal-id-type="aggregator">urn:lsid:zoobank.org:pub:C8FA3ADA-5585-4F26-9215-A520EE683979</journal-id>
              <journal-title-group>
                <journal-title xml:lang="en">Comparative Cytogenetics</journal-title>
                <abbrev-journal-title xml:lang="en">CCG</abbrev-journal-title>
              </journal-title-group>
              <issn pub-type="ppub">1993-0771</issn>
              <issn pub-type="epub">1993-078X</issn>
              <publisher>
                <publisher-name>Pensoft Publishers</publisher-name>
              </publisher>
            </journal-meta>
            <article-meta>
              <article-id pub-id-type="doi">10.3897/CompCytogen.v10i4.9536</article-id>
              <article-id pub-id-type="publisher-id">9536</article-id>
              <article-categories>
                <subj-group subj-group-type="heading">
                  <subject>Research Article</subject>
                </subj-group>
              </article-categories>
              <title-group>
                <article-title>Towards a FISH-based karyotype of <italic><tp:taxon-name><tp:taxon-name-part taxon-name-part-type="genus">Rosa</tp:taxon-name-part></tp:taxon-name></italic> L. (<tp:taxon-name><tp:taxon-name-part taxon-name-part-type="family">Rosaceae</tp:taxon-name-part></tp:taxon-name>)</article-title>
              </title-group>
              <contrib-group>
                <contrib contrib-type="author" xlink:type="simple" corresp="yes">
                  <name name-style="western">
                    <surname>Kirov</surname>
                    <given-names>Ilya V.</given-names>
                  </name>
                  <xref ref-type="aff" rid="A1">1</xref>
                  <xref ref-type="aff" rid="A2">2</xref>
                  <xref ref-type="aff" rid="A3">3</xref>
                  <email xlink:type="simple">kirovez@gmail.com</email>
                  <uri content-type="orcid" xlink:type="simple">https://orcid.org/0000-0003-3885-3837</uri>
                </contrib>
                <contrib contrib-type="author" xlink:type="simple" corresp="no">
                  <name name-style="western">
                    <surname>Van Laere</surname>
                    <given-names>Katrijn</given-names>
                  </name>
                  <xref ref-type="aff" rid="A3">3</xref>
                </contrib>
                <contrib contrib-type="author" xlink:type="simple" corresp="no">
                  <name name-style="western">
                    <surname>Van Roy</surname>
                    <given-names>Nadine</given-names>
                  </name>
                  <xref ref-type="aff" rid="A4">4</xref>
                </contrib>
                <contrib contrib-type="author" xlink:type="simple" corresp="no">
                  <name name-style="western">
                    <surname>Khrustaleva</surname>
                    <given-names>Ludmila I.</given-names>
                  </name>
                  <xref ref-type="aff" rid="A1">1</xref>
                  <xref ref-type="aff" rid="A2">2</xref>
                </contrib>
              </contrib-group>
              <aff id="A1">
                <label>1</label>
                <addr-line content-type="verbatim">Center of Molecular Biotechnology, Russian State Agrarian University - Moscow Timiryazev Agricultural Academy, Timiryazevskay str. 49, 127550, Moscow, Russia</addr-line>
                <institution xlink:type="simple">Russian State Agrarian University - Moscow Timiryazev Agricultural Academy (Moscow, Russia) and Institute for Agricultural and Fisheries Research (ILVO)</institution>
                <addr-line content-type="city">Melle</addr-line>
                <country>Belgium</country>
              </aff>
              <aff id="A2">
                <label>2</label>
                <addr-line content-type="verbatim">Department of Genetics and Biotechnology, Russian State Agrarian University - Moscow Timiryazev Agricultural Academy, Timiryazevskay str. 3, 127550, Moscow, Russia</addr-line>
              </aff>
              <aff id="A3">
                <label>3</label>
                <addr-line content-type="verbatim">Institute for Agricultural and Fisheries Research (ILVO), Plant Sciences Unit, Applied Genetics and Breeding, Caritasstraat 39, 9090, Melle, Belgium</addr-line>
                <institution xlink:type="simple">Institute for Agricultural and Fisheries Research (ILVO)</institution>
                <addr-line content-type="city">Melle</addr-line>
                <country>Belgium</country>
              </aff>
              <aff id="A4">
                <label>4</label>
                <addr-line content-type="verbatim">Center of Medical Genetics, Faculty of Medicine and Health Sciences, Ghent University, De Pintelaan 185, 9000, Ghent, Belgium</addr-line>
                <institution xlink:type="simple">Ghent University</institution>
                <addr-line content-type="city">Gent</addr-line>
                <country>Belgium</country>
              </aff>
              <author-notes>
                <fn fn-type="corresp">
                  <p>Corresponding author: Ilya V. Kirov (<email xlink:type="simple">kirovez@gmail.com</email>)</p>
                </fn>
                <fn fn-type="edited-by">
                  <p>Academic editor: A. Joachimiak</p>
                </fn>
              </author-notes>
              <pub-date pub-type="collection">
                <year>2016</year>
              </pub-date>
              <pub-date pub-type="epub">
                <day>4</day>
                <month>11</month>
                <year>2016</year>
              </pub-date>
              <volume>10</volume>
              <issue>4</issue>
              <fpage>543</fpage>
              <lpage>554</lpage>
              <uri content-type="arpha" xlink:href="http://openbiodiv.net/CA2EFFF1-FFC1-C864-FFBE-FFE6FFBCFF89">CA2EFFF1-FFC1-C864-FFBE-FFE6FFBCFF89</uri>
              <uri content-type="zenodo_dep_id" xlink:href="https://zenodo.org/record/1139040">1139040</uri>
              <uri content-type="zoobank" xlink:href="http://zoobank.org/4B2D9EE5-1366-4BB0-B49B-86C166FD82FD">4B2D9EE5-1366-4BB0-B49B-86C166FD82FD</uri>
              <history>
                <date date-type="received">
                  <day>29</day>
                  <month>6</month>
                  <year>2016</year>
                </date>
                <date date-type="accepted">
                  <day>8</day>
                  <month>9</month>
                  <year>2016</year>
                </date>
              </history>
              <permissions>
                <copyright-statement>Ilya V. Kirov, Katrijn Van Laere, Nadine Van Roy, Ludmila I. Khrustaleva</copyright-statement>
                <license license-type="creative-commons-attribution" xlink:href="http://creativecommons.org/licenses/by/4.0" xlink:type="simple">
                  <license-p>This is an open access article distributed under the terms of the Creative Commons Attribution License (CC BY 4.0), which permits unrestricted use, distribution, and reproduction in any medium, provided the original author and source are credited.</license-p>
                </license>
              </permissions>
              <abstract>
                <label>Abstract</label>
                <p>The genus <italic><tp:taxon-name><tp:taxon-name-part taxon-name-part-type="genus">Rosa</tp:taxon-name-part></tp:taxon-name></italic> Linnaeus, 1753 has important economic value in ornamental sector and many breeding activities are going on supported by molecular studies. However, the cytogenetic studies of rose species are scarce and mainly focused on chromosome counting and chromosome morphology-based karyotyping. Due to the small size of the chromosomes and a high frequency of polyploidy in the genus, karyotyping is very challenging for rose species and requires <abbrev xlink:title="fluorescence in situ hybridization" id="ABBRID0EHF" xlink:type="simple">FISH</abbrev>-based cytogenetic markers to be applied. Therefore, in this work the aim is to establish a <abbrev xlink:title="fluorescence in situ hybridization" id="ABBRID0EKF" xlink:type="simple">FISH</abbrev>-based karyotype for <italic><tp:taxon-name><tp:taxon-name-part taxon-name-part-type="genus">Rosa</tp:taxon-name-part> <tp:taxon-name-part taxon-name-part-type="species">wichurana</tp:taxon-name-part></tp[...]
