http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.2903/j.efsa.2014.3550
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 rOpenSci(crul/%s)0.9.0 rOpenSci(rcrossref/1.0.0) (mailto:myrmecocystus@gmail.com)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2019,11,26]],"date-time":"2019-11-26T20:36:26Z","timestamp":1574800586824},"reference-count":19,"publisher":"Wiley","issue":"2","license":[{"URL":"http:\/\/doi.wiley.com\/10.1002\/tdm_license_1","start":{"date-parts":[[2015,9,1]],"date-time":"2015-09-01T00:00:00Z","timestamp":1441065600000},"delay-in-days":577,"content-version":"tdm"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["EFSA
        Journal"],"published-print":{"date-parts":[[2014,2]]},"DOI":"10.2903\/j.efsa.2014.3550","type":"journal-article","created":{"date-parts":[[2016,5,22]],"date-time":"2016-05-22T13:22:12Z","timestamp":1463923332000},"page":"3550","source":"Crossref","is-referenced-by-count":17,"title":["Endogenous
        formaldehyde turnover in humans compared with exogenous contribution from
        food sources"],"prefix":"10.2903","volume":"12","author":[{"name":"European
        Food Safety Authority","sequence":"first","affiliation":[]}],"member":"311","published-online":{"date-parts":[[2014,2,18]]},"reference":[{"key":"10.2903\/j.efsa.2014.3550-BIB0001|efs23550-cit-0001","unstructured":"Agence
        Francaise de Securite Sanitaire des Aliments (AFSSA) 2004 Evaluation des risques
        li\u00e9s \u00e0 l''utilisation du formald\u00e9hyde en alimentation animale
        www.anses.fr\/Documents\/ALAN-Ra-formaldehyde.pdf"},{"key":"10.2903\/j.efsa.2014.3550-BIB0002|efs23550-cit-0002","doi-asserted-by":"crossref","first-page":"313","DOI":"10.1016\/S0268-005X(01)00104-7","article-title":"Changes
        in the texture and structure of cod and haddock fillets during frozen storage","volume":"16","author":"Badii","year":"2002","journal-title":"Food
        Hydrocolloids"},{"key":"10.2903\/j.efsa.2014.3550-BIB0003|efs23550-cit-0003","doi-asserted-by":"crossref","first-page":"1049","DOI":"10.1016\/j.foodchem.2005.09.089","article-title":"Fish
        and food safety: Determination of formaldehyde in 12 fish species by SPME
        extraction and GC-MS analysis","volume":"100","author":"Bianchi","year":"2007","journal-title":"Food
        Chemistry"},{"key":"10.2903\/j.efsa.2014.3550-BIB0004|efs23550-cit-0004","first-page":"367","articl[...]
- request:
    method: get
    uri: https://api.wiley.com/onlinelibrary/tdm/v1/articles/10.2903%2Fj.efsa.2014.3550
    body:
      encoding: ''
      string: ''
    headers:
      CR-Clickthrough-Client-Token: 86c9b5e5-e7ed333b-b1c3352a-0db0d2a2
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/pdf
      content-disposition: inline; filename=69dbafd6-6bf6-4be8-94a0-438d10b14a19.pdf
    body:
      encoding: UTF-8
      file: yes
      string: ../files/10.2903%2Fj.efsa.2014.3550.pdf
  recorded_at: 2020-03-20 22:09:51 GMT
  recorded_with: vcr/0.5.0.92, webmockr/0.6.0.92
