http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.3897/bdj.4.e9287
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 rOpenSci(crul/%s)0.9.0 rOpenSci(rcrossref/0.9.2.9610)
        (mailto:myrmecocystus@gmail.com)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2019,11,25]],"date-time":"2019-11-25T20:25:07Z","timestamp":1574713507501},"reference-count":20,"publisher":"Pensoft
        Publishers","license":[{"URL":"http:\/\/creativecommons.org\/licenses\/by\/4.0\/","start":{"date-parts":[[2016,11,1]],"date-time":"2016-11-01T00:00:00Z","timestamp":1477958400000},"delay-in-days":0,"content-version":"vor"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["BDJ"],"DOI":"10.3897\/bdj.4.e9287","type":"journal-article","created":{"date-parts":[[2016,11,1]],"date-time":"2016-11-01T13:05:28Z","timestamp":1478005528000},"page":"e9287","source":"Crossref","is-referenced-by-count":0,"title":["Cumacea
        of Greece: a preliminary checklist"],"prefix":"10.3897","volume":"4","author":[{"given":"Panayota","family":"Koulouri","sequence":"first","affiliation":[]},{"given":"Vasilis","family":"Gerovasileiou","sequence":"additional","affiliation":[]},{"given":"Nicolas","family":"Bailly","sequence":"additional","affiliation":[]}],"member":"2258","published-online":{"date-parts":[[2016,11,1]]},"reference":[{"key":"9287_B3230196","first-page":"79","article-title":"Bionomie
        benthique du petit golfe de Tunis","volume":"30","author":"Ayari","year":"2003","journal-title":"Bulletin
        de l\u2019Institut National des Sciences et Technologies de la Mer de Salammb\u00f4,
        Tunisia"},{"key":"9287_B3230206","first-page":"45","article-title":"Contributions
        \u00e0 la connaissance des Cumac\u00e9s de la mer de Marmara et d\u2019Eg\u00e9e
        (\u00cele Eubea)","volume":"24","author":"Bacescu","year":"1982","journal-title":"Travaux
        du Mus\u00e9um National d''Histoire Naturelle \"Grigore Antipa\""},{"key":"9287_B3230216","first-page":"in
        press","article-title":"Introduction to the Greek Taxon Information System
        (GTIS) in LifeWatchGreece: the construction of the Preliminary Checklists
        of species of Greece","volume":"LifeWatchGreece","author":"Bailly","year":"2016","journal-title":"Biodiversity
        Data Journal"},{"key":"9287_B3230226","DOI":"10.1002\/iroh.19780630612","doi-asserted-by":"publisher"},{"key":"9287_B3230238","DOI":"10.1371\/journal.pone.0011842","doi-asserted-by":"publisher"},{"key":"9287_B3230296","DOI":"10.1007\/1-4020-4697-9_5","doi-asserted-by":"publisher"},{"key":"9287_B3230306","author":"Eleftheriou","year":"2013","journal-title":"Methods
        for the study of marine benthos","DOI":"10.1002\/9781118542392","doi-asserted-by":"crossref"},{"key":"9287_B3230315","first-page":"9","article-title":"Recherches
        syst\u00e9matiques et \u00e9cologiques sur le[...]
